# Dependencies
node_modules/

# Expo & Build Output
.expo/
dist/
web-build/

# Native folders (PENTING untuk Managed Workflow)
android/
ios/

# Environment / Keys (Supabase/API Keys lokal)
.env
.env.*
!.env.example

# App Builds / Binaries lokal
*.apk
*.aab
*.ipa

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/